*{
    margin: 0;
    padding: 0%;

}
.main{
    box-sizing: content-box;

}

body{
    background-color: aquamarine;
    min-width: 700px;
    min-height: 400px;


}
.heading1{
    display: flex;
    justify-content: center;
    background-color:lightcoral;
    
}

h1{
    padding: 15px;
    text-align: center;
    background-color: burlywood;
    

}
h2{
    padding:10px;
    text-align: center;

}
img{
    width: 70px;
    height: 79px;
    background-color:burlywood;


}

.book-collection{
    box-sizing: border-box;
    background-color: beige;


}

.book-add-button{
    background-color: greenyellow;
    border: 1px solid black;
    cursor:pointer;
    padding: 10px;
    width: fit-content;
    border-radius: 15px;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.book-add-button:hover{
    border: 3px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow:greenyellow;

}

form{
    width: 500px;
    padding: 30px;
    height: fit-content;
    background-color: cornflowerblue;
    border-radius: 10px;
    margin: 10px auto;
}

.submit-book, .cancel-btn{
    padding: 10px;
    background-color: greenyellow;
    border: 2px solid black;
    border-radius: 5px;

}

.cancel-btn{
    background-color:red !important; 
}

.book-card{
    text-align:center;
    width: 300px;
    margin: 10px auto;
}




input{
    text-align: center;
    margin-bottom: 15px;
    border:none;
    background: none;
    border-bottom: 1px solid black;
    font-family:monospace;
    font-weight: bold;
    color: black;
    padding: 10px;


}
input::placeholder{
    color:white;
}
.bookcard{
    display: none;
}
    


